@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,900;1,100;1,700&display=swap');

:root{
	--genfont:'Overpass', sans-serif; 
	--black: black;
	--white: white;
}

* {
	font-family: var(--genfont);
}


header {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
	justify-items: center;
	flex-direction: column;
	text-align: center;
}


#top_btns{
display: flex;
}

#menuwrapper {
	position: absolute;
}
#menu {
	padding: 1em;
	border:solid 1px dimgrey;
	position: relative;
}

#sub {
	padding: 1em;
	display: none;
	background-color: var(--black);
	color:var(--white);
}

#menu:hover #sub{
	display: block;
	padding: 1.3em;
	transition: 1s;
}

/* main art view */

#main_article_view{
	padding: 5px;
}

#main_article_view td{
	border: solid 1px var(--black);
}

