@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,900;1,100;1,700&display=swap');

:root{
	--genfont:'Overpass', sans-serif; 
	--black: black;
	--white: white;
	--red: red;
}

* {
	font-family: var(--genfont);
}


header {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
	justify-items: center;
	flex-direction: column;
	text-align: center;
}

a {	
	padding: 3px;
	text-decoration: none;
	color: black;
}

a:hover {
	padding: 3px;
	border-radius: 8px;
	background-color: red;
	color: white;
	transition: 1s;
}

input[type=submit]{
	width: 100px;
	border: solid 1px black;
	color: var(--red);
	background-color: white;
}
input[type=submit]:hover{
	border-radius: 15px;
	border: none;
	color: white;
	background-color: var(--black);
	transition: 1s;
}

#formdiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#top_btns{
display: flex;
}

#menuwrapper {
	position: absolute;
}
#menu {
	padding: 1em;
	border:solid 1px dimgrey;
	position: relative;
}

#sub {
	padding: 1em;
	display: none;
	background-color: var(--black);
	color:var(--white);
}

#menu:hover #sub{
	display: block;
	padding: 1.3em;
	transition: 1s;
}

/* main art view */

#main_article_view{
	padding: 5px;
}

#main_article_view td{
	border: solid 1px var(--black);
}

